<section style="background-color: #eee;">
	<div class="container py-5">
		<h1>{{property.name}}</h1>
		<p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{property.address}}</p>

		<div class="row">
			<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
				<img
						src="{{property.images.[1].url}}"
						width="170"
						height="255"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Boat on Calm Water"
				/>

				<img
						src="{{property.images.[1].url}}"
						width="255"
						height="388"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Wintry Mountain Landscape"
				/>
			</div>

			<div class="col-lg-4 mb-4 mb-lg-0">
				<img
						src="{{property.images.[2].url}}"
						width="255"
						height="388"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Mountains in the Clouds"
				/>

				<img
						src="{{property.images.[3].url}}"
						width="170"
						height="255"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Boat on Calm Water"
				/>
			</div>

			<div class="col-lg-4 mb-4 mb-lg-0">
				<img
						src="{{property.images.[4].url}}"
						width="170"
						height="255"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Waves at Sea"
				/>

				<img
						src="{{property.images.[5].url}}"
						width="255"
						height="388"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Yosemite National Park"
				/>
			</div>
		</div>
		<div>
			<p> {{property.info}}</p>
			<h5>Most popular facilities</h5>
			<div>
				{{#each property.popular_facilities}}
				<div class="d-inline-block">
					<div class="d-inline-block p-2">
						<i class="{{icon}}" style="color:#80c54e;"></i>
					</div>
					<div class="d-inline-block p-2">{{name}}</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</section>

<section style="background-color: #eee;">
	<div class="container py-5">
		<h1>Accommodation</h1>
		<table class="table align-middle mb-0 bg-white">
			<thead class="bg-light">
			<tr>
				<th>Accommodation Type</th>
				<th>Sleeps</th>
				<th>Today's Price</th>
				<th>Amount</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{{#each accommodations}}
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<a><h5><u>{{name}}</u></h5></a>
							<p class="small">{{quantity}} room lefts</p>
						</div>
					</td>
					<td>
						{{sleeps}}<i class="fa fa-user" aria-hidden="true"></i>
					</td>
					<td>
						<h5 class="mb-1 me-1">${{price_after_sale_off}}</h5>
						<span class="text-danger"><s>${{price}}</s></span>
					</td>
					<td>
						<label>
							<input type="number" style="width: 50px">
						</label>
					</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm btn-rounded">
							I'll reserve
						</button>
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</section>

<section style="background-color: #eee;">
	<div class="container py-5">
		<h2>Guest reviews</h2>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{{#each property.review}}
				<div class="col">
					<div class="card h-100 w-200">
						<div class="card-body">
							<div class="d-flex flex-start align-items-center">
								<img class="rounded-circle shadow-1-strong me-3"
									 src="{{avatar}}" alt="avatar" width="60"
									 height="60" />
								<div>
									<h6 class="fw-bold text-primary mb-1">{{user_name}}</h6>
									<p class="text-truncate small w-200">
										{{language}}
									</p>
								</div>
							</div>
							<h5 class="card-text">{{title}}</h5>
							<p class="card-text">"{{comment}}"</p>
							<small class="card-text">{{date}} with <strong>{{score}}/10 scores</strong></small>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		<button type="button" class="btn btn-link btn-sm btn-rounded float-right">
			See all reviews
		</button>
	</div>
</section>

<section style="background-color: #eee;">
	<div class="container py-5">
		<h2>Property questions and answers</h2>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{{#each property.questions}}
				<div class="col">
					<div class="card h-100 w-200">
						<div class="card-body">
							<div>
								<p class="card-text"><span><u>User ask</u>: </span>"{{question}}"</p>
							</div>
							<br>
							<div>
								<p class="card-text"><span><u>Answer</u>: </span>"{{answer}}"</p>
							</div>
							<p class="mb-0 small float-right">
								{{date}}
							</p>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		<button type="button" class="btn btn-link btn-sm btn-rounded float-right">
			Ask a question
		</button>
	</div>
</section>

<section style="background-color: #eee;">
	<div class="container py-5">
		<h2>Facilities of {{property.name}}</h2>
		<p>Review score: {{property.rating_star}}</p>
		<h5>Most popular facilities</h5>
		<div>
			{{#each property.popular_facilities}}
				<div class="d-inline-block">
					<div class="d-inline-block p-2">
						<i class="{{icon}}" style="color:#80c54e;"></i>
					</div>
					<div class="d-inline-block p-2" >{{name}}</div>
				</div>
			{{/each}}
		</div>
		<br>
		<div>
			<table class="table">
				<thead>
				<tr>
					<th scope="col" style="width: 300px">Type Of Facility</th>
					<th scope="col">Facilities</th>
				</tr>
				</thead>
				<tbody>
				{{#each property.facilities}}
					<tr>
						<th scope="row"><strong><i class="{{icon}}"></i> {{name}}</strong></th>
						<td>{{#each list}}<span>{{this}}, </span>{{/each}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</section>

<section style="background-color: #eee;">
	<div class="container py-5">
		<h2>House rules</h2>
		<div>
			<table class="table">
				<tbody>
				<tr>
					<th scope="row" style="width: 300px">Check-in</th>
					<td> {{property.check_in_start}} -> {{property.check_in_end}}</td>
				</tr>
				<tr>
					<th scope="row" style="width: 300px">Check-out</th>
					<td> {{property.check_out_start}} -> {{property.check_out_end}}</td>
				</tr>
				<tr>
					<th scope="row" style="width: 300px">Cancellation/prepayment</th>
					<td> {{property.cancellation}}</td>
				</tr>
				<tr>
					<th scope="row" style="width: 300px">Refundable damage deposit</th>
					<td>{{property.deposit}}</td>
				</tr>
				<tr>
					<th scope="row" style="width: 300px">Children & Beds</th>
					<td>{{#each property.children_policy}}<span>{{this}}, </span>{{/each}}</td>
				</tr>
				<tr>
					<th scope="row" style="width: 300px">Beds</th>
					<td>{{#each property.bed_policy}}<span>{{this}}, </span>{{/each}}</td>
				</tr>
				<tr>
					<th scope="row" style="width: 300px">Cards accepted at this hotel</th>
					<td>
						{{#each property.accepted_payment}}
							<p><i class="{{icon}}"></i>{{name}}</p>
						{{/each}}
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

