<section style="background-color: #eee; margin-top: 100px">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-body text-center">
						<img src="{{information.avatar}}" alt="avatar"
							 class="rounded-circle img-fluid" style="width: 150px;">
						<h5 class="my-3">{{information.full_name}}</h5>
						<p class="text-muted mb-1">{{information.display_name}}</p>
						<p class="text-muted mb-4">{{information.address}}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Name</p>
							</div>
							<div class="col-sm-9">
								{{#if information.full_name}}
									<label>
										<input name="full_name" class="text-muted mb-0" value="{{information.full_name}}">
									</label>
								{{else}}
									<label>
										<input name="full_name" class="text-muted mb-0" placeholder="enter your full name">
									</label>
								{{/if}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Display name</p>
							</div>
							<div class="col-sm-9">
								{{#if information.display_name}}
									<label>
										<input name="display_name" class="text-muted mb-0" value="{{information.display_name}}">
									</label>
								{{else}}
									<label>
										<input name="display_name" class="text-muted mb-0" placeholder="enter your display name">
									</label>
								{{/if}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Email address</p>
							</div>
							<div class="col-sm-9">
								{{#if information.email}}
									<label>
										<input name="email" class="text-muted mb-0" value="{{information.email}}">
									</label>
								{{else}}
									<label>
										<input name="email" class="text-muted mb-0" placeholder="enter your email address">
									</label>
								{{/if}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Phone number</p>
							</div>
							<div class="col-sm-9">
								{{#if information.phone_number}}
									<label>
										<input name="phone_number" class="text-muted mb-0" value="{{information.phone_number}}">
									</label>
								{{else}}
									<label>
										<input name="phone_number" class="text-muted mb-0" placeholder="enter your phone number">
									</label>
								{{/if}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Date of birth</p>
							</div>
							<div class="col-sm-9">
								{{#if information.date_of_birth}}
									<label>
										<input type="date" name="date_of_birth" class="text-muted mb-0" value="{{information.date_of_birth}}">
									</label>
								{{else}}
									<label>
										<input type="date" name="date_of_birth" class="text-muted mb-0" placeholder="enter your date of birth">
									</label>
								{{/if}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Nationality</p>
							</div>
							<div class="col-sm-9">
								{{#if information.nationality}}
									<label>
										<input name="nationality" class="text-muted mb-0" value="{{information.nationality}}">
									</label>
								{{else}}
									<label>
										<input name="nationality" class="text-muted mb-0" placeholder="enter your nationality">
									</label>
								{{/if}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Gender</p>
							</div>
							<div class="col-sm-9">
								{{#if information.gender }}
									<label>
										<input name="gender" class="text-muted mb-0" value="{{information.gender}}">
									</label>
								{{else}}
									<label>
										<input name="gender" class="text-muted mb-0" placeholder="enter your phone number">
									</label>
								{{/if}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Address</p>
							</div>
							<div class="col-sm-9">
								{{#if information.address}}
									<label>
										<input name="address" class="text-muted mb-0" value="{{information.address}}">
									</label>
								{{else}}
									<label>
										<input name="address" class="text-muted mb-0" placeholder="enter your phone number">
									</label>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>

</script>